/* this css file will only style the homepage of our site */

#Welcome {
  width: 25%;
}
#MeIRL {
  width:25%;
}

h1 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 200%;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  color: rgb(227, 163, 186);
  padding: 20px;
  margin-bottom: 15px;
  border: 8px #814;
  background-color: rgb(255, 255, 255);
  font-size: larger;
  font-family: cursive;
  

}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #ffffff;
  background-color: #ffffff;
}
