/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */



/* and we can have rules that overlap other rules, both take effect */
h1 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 200%;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  color: rgb(227, 163, 186);
  padding: 20px;
  margin-bottom: 15px;
  border: 8px #814;
  background-color: rgb(255, 255, 255);
  font-size: larger;
  font-family: cursive;

}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #ffffff;
  background-color: #ffffff;
}
