/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */


  #document.writeln {
    padding: 10px;
    margin-bottom: 10px;
    color: rgb(255, 23, 73);
    font-size: 300%;  
   
  }

  .minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: 3px rgb(129, 139, 148);
  }
  
  #content {
    color: rgb(41, 10, 10);
    background-color: rgb(86, 91, 149);
  }

body {
  background-color: rgb(95, 107, 118);
}


#results {
  color: pink;
  border: dotted 10px rgb(58, 101, 118);
}

button {
  color:rgb(27, 23, 255);
  background: darkgrey;
}

h1, h2, h3 {
    font-family: "Courier New", monospace;
}

#ball {
    width: 45% !important;
    height: auto !important;
}

#advice {
  display: none; /* Initially hide the image */
  position: absolute;
  right: 20px; /* Position the image on the right */
  top: 50px; /* Adjust vertical position */
  border: 1px solid #ccc;
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
 

#output {
    right: 350px;
    padding: 23px;
    border-radius: 14px;
    border: dotted 10px rgb(255, 231, 96);
    width: 500px;
    color:rgb(255, 235, 239);
    text-align:center;
}

#image {
  display: none; /* Initially hide the image */
  position:absolute; /* Position the image absolutely */
  right: 20px; /* Position it on the right */
  bottom:0ch; /* Adjust vertical position */
  border: 1px solid #ccc; /* Light gray border */
  padding: 10px; /* Padding inside the container */
  background-color: white; /* White background */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  border-radius: 5px; /* Rounded corners */
}


