/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */


  #document.writeln {
    padding: 10px;
    margin-bottom: 10px;
    color: rgb(255, 23, 73);
    font-size: 300%;  
  }

  .minor-section {
    padding: 10px;
    margin-bottom: 10px;
  }
  
  #content {
    color: rgb(10, 32, 41);
    background-color: rgb(70, 87, 103);
  }

body {
  background-color: rgb(95, 107, 118);
}


#results {
  color: pink;
  border: dotted 10px rgb(58, 101, 118);
}

button {
  color:rgb(255, 23, 73);
  background: darkgrey;
}

.special {
  color: rgb(255, 255, 187);
  background-color: rgb(255, 162, 0);
  border: dotted 4px yellow;
  }

h1, h2, h3 {
    font-family: "Courier New", monospace;
}

#ball {
    width: 50% !important;
    height: auto !important;
}
 

#output {
    right: 350px;
    padding: 23px;
    border-radius: 14px;
    border: dotted 10px rgb(255, 231, 96);
    width: 500px;
    color:rgb(119, 13, 36);
    text-align:center;
}

