/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */


  #document.writeln {
    padding: 10px;
    margin-bottom: 10px;
    color: rgb(255, 23, 73);
    font-size: 300%;  
  }

  .minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 3px #9c9898;
  }
  
  #content {
    color: skyblue;
    border: solid 3px #9c9898;
    background-color: lightslategray;
  }

body {
  background-color: lightslategrey;
  border: solid 3px #9c9898;
}


#results {
  color: pink;
  border: dotted 10px skyblue;
}

button {
  color:rgb(255, 23, 73);
  background: darkgrey;
}

.special {
  color: rgb(255, 255, 187);
  background-color: rgb(255, 162, 0);
  border: dotted 4px yellow;
  }

h1, h2, h3 {
    font-family: "Courier New", monospace;
}

#ball {
    width: 50% !important;
    height: auto !important;
}

a:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
}
.linkbox {
    padding: 10px;
    font-size: 80%;
}
.homelink {
    text-align: left;
}
.sourcelink {
    float: right;
}

.output-box {
    position: relative;
}

.hat-box {
    float: right;
    width: 400px;
    height:200px;
}

#tail-box {
    position: absolute;
    top: 150px;
    right: 252px;
    width: 100px;
    transform: scaleX(-1);;
}

#output {
    position: absolute;
    right: 350px;
    padding: 50px;
    border-radius: 150px;
    border: solid 2px black;
    width: 500px;
    color:rgb(255, 23, 73);
}

.hidden {
    visibility: hidden;
}

.input-output {
    border: solid 1px;
    padding: 10px 10px 30px;
}

.stage-direction {
    font-size: 80%;
    margin-top: 20px;
}

.credits {
    font-size: 60%;
    color: gray;
}
.credits a {
    text-decoration: inherit;
    color: inherit;
}