/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 20px;
    margin-bottom: 15px;
    border: solid 1px #814;
    background-color: #ce2f2f;
  }

#kitten
{ width: 80%; img }